*{
    margin:0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: #393E46;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    outline: none;
    text-decoration: none;
    color: #222831;
    font-weight: none;
}
a:link {
    color:#222831 ;
}
a:visited {
    color: #222831;
}
a:focus {
    color: #222831;
}
a:hover {
    color: #00ADB5;
}
html{
    background-color:#EEEEEE ;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#caixa-apresentacao-inicial{
    display: flex;
    font-size: 30px;
    align-items: center;
    line-height: 3em;
    gap: 30px;
    border: 1px solid #00ADB5;
    border-radius: 20px;
    padding: 10px;
    margin-top: 2em;
}
#foto-felipe{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    box-shadow: 0 0 10px 5px  #222831;
}
main{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5em;

}
#figure-2{
    align-self: center;
    margin-bottom: 40px;
}
#nome-animal{
    align-self: center;
    line-height: 3em;
}










#the-footer{
    width: 100%;
    height: 40px;
    font-size: 10px;
    text-align: center;
    background-color:#00ADB5 ;
    align-items: center;
    display: flex;
    justify-content: center;
}